<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>zhishi</servlet-name>
        <servlet-class>server.ZhishiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>zhishi</servlet-name>
        <url-pattern>/zhishi</url-pattern>
    </servlet-mapping>
</web-app>